<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <pre>
    Visit <a href="{{ authorize_url }}">{{ authorize_url }}</a> then copy the PIN provided there and execute the
    server using the following line:
    ./synchronous_tweet_rate.py --consumer_key=S3g5ciLXeljR5fWIFl9A --consumer_secret=v3BzoVJS5YIcJSHOk7OzXOnpVKfYo6eCCJ221A1I --request_token={{ request_token }} --request_token_secret={{ request_token_secret }} --pin=<< the PIN code you just saved >>
    <pre>
</body>
</html>
