<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/recommended.css') }}" />
</head>
<body>
    <div id="container">
        <header>
            {% block header %}<h1>Burt's Books</h1>{% end %}
        </header>
        <div id="main">
            <div id="content">
                {% block body %}{% end %}
            </div>
        </div>
        {% block footer %}
        <footer>
            <p>For more information about our selection, hours or events, please email
            us at <a href="mailto:contact@burtsbooks.com">contact@burtsbooks.com</a></p>
        </footer>
        <p class="small">
        Follow us on Facebook at
        {% raw linkify('https://fb.me/burtsbooks', extra_params='ref=website') %}
        </p>
        {% end %}
    </div>    
    <script type="text/javascript" src="{{ static_url('js/script.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/recommended.js') }}"></script>
</body>
</html>
